services:
  backend:
    build:
      context: Backend/
      dockerfile: Dockerfile
    ports:
      - "${PUERTO_API-8080}:${PUERTO_API-8080}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ENVIRONMENT:-Development}
      - ASPNETCORE_URLS=http://+:${PUERTO_API-8080}
    env_file:
      - path: .env
        required: false
    volumes:
      - ~/.aspnet/https:/https:ro